<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pokémon not found - Pokédex</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <main class="not-found">
    <a href="/" aria-label="Ga terug naar de homepage">
      <img
        src="/assets/404.png"
        alt="Pokédex 404 - Pokémon not found"
      />
    </a>
    
  </main>
</body>
</html>